body {
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --color-green: #008081;
    --color-green-2: #0081815e;
    --color-text: #000000;
    --color-text-2: #584646;
    --color-text-3: #f3c74f;
    --color-text-white: #eceef3;
    --color-text-header: #E1E2E6;
    --color-bg-header: #8a8383;
    --color-bg-header-2: #474444c4;
    --color-bg-submenu: #838282;
    --color-text-miniboxes: #242020;
    --color-bg-footer: #858383b6;
    --color-bg-footer-2: #444444;
    --color-bg-miniboxes: #ffffffc9;
}

/* Nav Bar */

.nav-bar {
    background-color: var(--color-text-header);
    padding: 2vh;
    display: block;
    color: var(--color-green);
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
}

.menu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    background-color: var(--color-bg-header-2);
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
}

.menu-link {
    display: block;
    padding: 1.5vh 2.5vw 2.5vh 2.5vw;
    color: var(--color-text-header);
    font-size: 1.2em;
    text-decoration: none;
}

.submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease 0.1s;
}

.menu-link:hover {
    background-color: var(--color-green);
}

.submenu .menu-link:hover {
    background-color: var(--color-green);
}

.submenu .menu-link {
    background-color: var(--color-bg-submenu);
    padding-left: 4vw;
}

.mostrar {
    margin-left: 0;
}

@media(max-width: 1024px) {
    .nav-bar {
        position: fixed;
    }
    .menu {
        position: fixed;
        margin-top: 6.5vh;
    }
    .logo {
        display: none;
    }
}

@media(min-width: 1024px) {
    .nav-bar {
        display: none;
    }
    .menu {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        position: fixed;
    }
    .container-submenu {
        position: relative;
    }
    .submenu {
        position: absolute;
        width: 20vw;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }
    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }
    .logo {
        max-width: 14vh;
        margin: 0vh 1vw;
    }
}

/* // Nav Bar */

/* Cotent boxes */

* {
    padding: 0vh;
    margin: 0vh;
    box-sizing: border-box;
}

.home {
    width: 100%;
}

.box {
    width: 100%;
    height: auto;
    padding: 5vh 5vw;
    font-size: 1.5em;
}

@media(max-width:1024px) {
    .box {
        padding: 5vh 0;
    }
}

    /* Slideshow section */

.section-0 {
    margin-top: 2vh;
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.8)), url(imagenes/backgroundmakro1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.section-0 h1 {
    text-align: center;
    color: var(--color-text-1);
    background-color: var(--color-green-2);
    margin: 7vh 5vw 7vh 5vw;
    padding: 2vh 0;
}

.auto-slider img{
    display:block;
    width: 40vw;
    height: 50vh;
    object-fit:fill;
}

.auto-slider{
    width: 80vw;
    height:auto;
    margin-left: 5vw;
    overflow-x:hidden;
}
  
.auto-slider-content{
    list-style:none;
    display:flex;
    animation-name: slide;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}
  
@keyframes slide{
    0%, 10% {
        transform:translateX(0);
    }
    15%, 30%{
        transform:translateX(-80vw);
    }
    35%, 50%{
        transform:translateX(-160vw);
    }
    55%, 70%{
        transform:translateX(-240vw);
    }
    75%, 90%{
        transform:translateX(-320vw);
    }
    95%, 100%{
        transform:translateX(0);
    }
}

@media(max-width:1024px) {
    .auto-slider img{
        width: 90vw;
        height:70vw;
    }
    .auto-slider{
        width: 90vw;
        margin: auto;
    }
    .auto-slider-content {
        animation-duration: 60s;
    }
    @keyframes slide{
        0%, 9%{
            transform:translateX(0);
        }
        9%, 18%{
            transform:translateX(-90vw);
        }
        18%, 27%{
            transform:translateX(-180vw);
        }
        27%, 36%{
            transform:translateX(-270vw);
        }
        36%, 45%{
            transform:translateX(-360vw);
        }
        45%, 54%{
            transform:translateX(-450vw);
        }
        54%, 63%{
            transform:translateX(-540vw);
        }
        63%, 72%{
            transform:translateX(-630vw);
        }
        72%, 81%{
            transform:translateX(-720vw);
        }
        81%, 90%{
            transform:translateX(-810vw);
        }
        90%, 99%{
            transform:translateX(-0);
        }
    }
}

    /* // Slideshow section */

.section-1 {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255, 255, 255, 0.1)), url(imagenes/backgroundmakro1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

.section-1 .bg-box1 {
    background-color: var(--color-bg-miniboxes);
    color: var(--color-text-miniboxes);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-1 .bg-box1 h1 {
    padding: 0vh 5vh 2vh 5vh;

}

.section-1 .bg-box1 ol {
    padding: 0vh 5vh 2vh 10vh;
}

.section-1 .bg-box1 p {
    padding: 0vh 5vh 2vh 5vh;
    text-align: justify;
}

.section-1 ul {
    margin-left: 10vw;
    margin-bottom: 3vh;
}

.section-1 ul li a {
    text-decoration: none;
    color: var(--color-text-2);
    transition: all 0.3s ease 0s;
}

.section-1 ul li a:hover {
    color: var(--color-green);
}

        /* News of Makro */

.section-2 {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255, 255, 255, 0.5)), url(imagenes/blanco-bg.jpg);
    background-size:contain;
    height: auto;
}

.mini-box2, .mini-box3, .mini-box4 {
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vw;
}

.news1 h2, .news2 h2, .news3 h2 {
    padding-bottom: 1em;
}

.news1, .news2, .news3 {
    padding: 0em 1em;
    text-align: justify;
}

.section-2 a:hover {
    color: var(--color-green);
}

.macro1, .macro2, .macro3 {
    max-width: 30vw;
    margin-top: 1vh;
}

@media(max-width:1024px) {
    .mini-box2, .mini-box3, .mini-box4 {
        display: block;
        text-align: center;
    }
    .macro1, .macro2, .macro3 {
        max-width: 100%;
    }
}
        /* //News of Makro */

        /* Mision and vision*/

.section-3 {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255, 255, 255, 0.5)), url(imagenes/backgroundmakro3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
}

.section-3 .bg-box2 {
    background-color: var(--color-bg-miniboxes);
    height: auto;
}

.bg-box2 h2, .bg-box2 p {
    padding: 2vh 0vw;
    text-align: justify;
    margin: 0vh 2vw;
}

.bg-box2 p {
    margin: 0vh 5vw;
}

        /* //Mision and vision */

        /* Map */

.section-4 {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255, 255, 255, 0.5)), url(imagenes/backgroundmakro3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
}

.section-4 .bg-box3 {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.section-4 h2 {
    padding-bottom: 2vh;
}

.bg-box3 .UNMap, .bg-box3 .department {
    width: 50vw;
    height: 70vh;
}

@media(max-width:1024px) {
    .bg-box3 .UNMap, .bg-box3 .department {
        max-width: 40vw;
        max-height: 60vh;
    }
}

        /* // Map */

/* // Cotent boxes */

/* SECTION Research */

.research-section-1 {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.2)), url(imagenes/backgroundmakro2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
}

.research-section-1 .research-miniboxes {
    background-color: var(--color-bg-miniboxes);
    display: flex;
    margin-top: 10vh;
    padding: 5vh 5vw;
}

.research-section-1 h2 {
    padding-left: 5vw;
    padding-bottom: 3vh;
}

.research-section-1 p {
    padding: 0 10vw;
    text-align: justify;
}

.research-section-1 .research-img {
    width: 20vw;
}

.research-img-block {
    display: block;
}

@media(max-width:1024px) {
    .research-section-1 .research-miniboxes {
        display: block;
        text-align: center;
    }
    .research-img-block{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .research-section-1 .research-img {
        min-width: 35vw;
    }
    .research-section-1 h2 {
        padding-top: 3vh;
    }
    .research-section-1 p {
        padding-top: 1vh;
        text-align: justify;
    }
}

/* // SECTION Research */

/* SECTION Integrants */

    /* Professor */

.professor-section {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.2)), url(imagenes/backgroundmakro4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;    
}

.professor-section .professor-miniboxes {
    background-color: var(--color-bg-miniboxes);
    display: flex;
    margin-top: 10vh;
    padding: 5vh 5vw;
}

.professor-section h2, .professor-section p, .professor-contact {
    padding-left: 3vw;
    padding-bottom: 3vh;
    text-align: justify;
}

.professor-section .professor-img {
    width: 15vw;
    padding-top: 20%;
}

.socials-icons {
    width: 3vw;
    margin-left: 3vw;
    margin-right: 0vw;
    transition: all 0.3s ease 0s;
}

.socials-icons:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media(max-width:1024px) {
    .professor-section .professor-miniboxes {
        display: block;
        text-align: center;
    }
    .professor-section .professor-img {
        padding-top: 0;
        min-width: 50vw;
    }
    .socials-icons {
        min-width: 3em;
    }
}

    /* Active students */

.student-section {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.2)), url(imagenes/backgroundmakro5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;    
}

.student-section .student-miniboxes {
    background-color: var(--color-bg-miniboxes);
    margin-top: 5vh;
}

.student-miniboxes h1, h2, h3, p {
    width: 90%;
}

.student-section .student-miniboxes-top {
    display: flex;
    margin: 0 2vw;
}

.student-slicebox {
    background-color: var(--color-green);
    margin-top: 5vh;
    color: var(--color-text-header);
    padding: 2vh 5vw;
    text-align: center;
    font-size: 1.2rem;
}

.student-section h2, .student-section h3, .student-section p, .student-contact {
    padding: 2vh 0 3vh 3vw;
    padding-left: 3vw;
    padding-bottom: 3vh;
    text-align: justify;
}

.student-section .student-img {
    width: 20vw;
    padding-top: 20%;
}

.student-bottom {
    display: flex;
    height: auto;
}

.student-socials {
    margin-right: 15vw;
}

.student-socials-icons {
    display: block;
    width: 6vw;
    margin: 4vh 1vw;
    transition: all 0.3s ease 0s;
}

.student-socials-icons:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.students-work-1 {
    display:flex;
    max-width: 30vw;
    max-height: 30vh;
    margin-left: 5vw;
    margin-bottom: 2vh;
}

    /* Students Carousel */

.students-auto-slider img{
    display:block;
    width: 30vw;
    height: 40vh;
    object-fit:fill;
    margin-bottom: 2vh;
}

.students-auto-slider{
    width: 30vw;
    height:auto;
    overflow-x:hidden;
    margin-left: 1vw;
}
    
.students-auto-slider-content{
    list-style:none;
    display:flex;
    animation-name: slide2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}
    
@keyframes slide2{
    0%, 10% {
        transform:translateX(0);
    }
    15%, 30%{
        transform:translateX(-30vw);
    }
    35%, 50%{
        transform:translateX(-60vw);
    }
    55%, 70%{
        transform:translateX(-90vw);
    }
    75%, 90%{
        transform:translateX(-120vw);
    }
    95%, 100%{
        transform:translateX(0);
    }
}

    /* // Students Carousel */

@media(max-width:1024px) {
    .student-section .student-miniboxes-top {
        display: block;
        text-align: center;
    }
    .student-section .student-miniboxes-bottom {
        display: block;
    }
    .student-section h2 {
        text-align: center;
    }
    .student-section .student-img {
        padding-top: 0;
        min-width: 50vw;
    }
    .student-bottom {
        display: block;
        margin: auto;
    }
    .student-socials {
        display: flex;
        justify-content: center;
    }
    .student-socials-icons {
        min-width: 10vw;
    }
    .students-auto-slider {
        margin: auto;
        min-width: 60vw;
    }
    .students-auto-slider img {
        min-width: 60vw;
        height: auto;
    }
    .students-work-1 {
        margin: auto;
        min-width: 80vw;
    }
    @keyframes slide2{
        0%, 10% {
            transform:translateX(0);
        }
        15%, 30%{
            transform:translateX(-60vw);
        }
        35%, 50%{
            transform:translateX(-120vw);
        }
        55%, 70%{
            transform:translateX(-180vw);
        }
        75%, 90%{
            transform:translateX(-240vw);
        }
        95%, 100%{
            transform:translateX(0);
        }
    }
}

    /* Ex-makro students */

.exmakro-section {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.2)), url(imagenes/backgroundmakro4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;    
}

.exmakro-section .exmakro-miniboxes {
    display: flex;
    padding: 5vh 5vw;
}

.exmakro-flex {
    background-color: var(--color-bg-miniboxes);
    display: flex;
    margin-right: 2em;
    text-align: center; 
    width: 100%;
}

.exmakro-section h2, .exmakro-section p, .exmakro-contact {
    padding: 0 3vw;
    padding-bottom: 3vh;
    text-align: justify;
}

.exmakro-section .exmakro-img {
    width: 20vw;
    height: auto;
    padding: 1vh 0;
}

.exmakro-socials-icons {
    width: 5vw;
    margin: 0 0 1em 1em;
    transition: all 0.3s ease 0s;
}

.exmakro-socials-icons:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.exmakro-section .exmakro-studies {
    padding: 0 3vw;
    font-size: 0.9em;
}

@media(max-width:1024px) {
    .exmakro-section .exmakro-miniboxes {
        display: block;
        text-align: center;
    }
    .exmakro-section .exmakro-img {
        min-width: 15em;
        text-align: center;
    }
    .exmakro-socials-icons {
        width: 10vw;
        margin: 0 0 2vh 3vw;
    }
}
    

    /* Ex-makro students */


/* // SECTION Integrants */


/* SECTION Services */

.services-section-1 {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.2)), url(imagenes/backgroundmakro3.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

.services-section-1 .services-miniboxes {
    background-color: var(--color-bg-miniboxes);
    display: flex;
    margin-top: 10vh;
    padding: 5vh 5vw;
}

.services-section-1 h2 {
    padding-left: 3vw;
    padding-bottom: 3vh;
}

.services-section-1 ul {
    padding-left: 8vw;
}

.services-section-1 li {
    padding-bottom: 2vw;
}

.services-section-1 .services-img {
    width: 50vw;
}

@media(max-width:1024px) {
    .services-section-1 .services-miniboxes {
        display: block;
        text-align: center;
    }
    .services-section-1 .services-img {
        min-width: 80vw;
    }
    .services-section-1 ul {
        list-style: none;
        text-align: justify;
    }
}

/* //SECTION Services */

/* //SECTION Contact */

.contact-section {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.2)), url(imagenes/backgroundmakro2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;    
}

.contact-section .contact-miniboxes {
    background-color: var(--color-bg-miniboxes);
    display: flex;
    margin-top: 10vh;
    padding: 5vh 5vw;
}

.contact-section h2, .contact-section p, .contact-contact {
    padding-left: 3vw;
    padding-bottom: 3vh;
    text-align: justify;
}

.contact-flex, .contact-flex h2 {
    text-align: center;
}

.contact-section .contact-img-labs {
    width: 35vw;
}

.contact-section .contact-img {
    width: 15vw;
    padding-top: 20%;
}

.socials-icons {
    width: 3vw;
    margin-left: 3vw;
    margin-right: 0vw;
    transition: all 0.3s ease 0s;
}

.socials-icons:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media(max-width:1024px) {
    .contact-section .contact-miniboxes {
        display: block;
        text-align: center;
    }
    .contact-section .contact-img {
        padding-top: 0;
        min-width: 50vw;
    }
    .socials-icons {
        min-width: 3em;
    }
    .contact-section .contact-img-labs {
        min-width: 80vw;
    }
}

/* //SECTION Cotact */


/* Footer CSS */
.footer {
    background-color: var(--color-bg-footer);
    color: var(--color-text);
    position: relative;
}

.footer-content {
    display: flex;
}

.footer-content .footer-section {
    flex: 1;
}

.footer-section p {
    margin: 5%;
}

.footer-section .contact {
    margin: 5%;
}

.footer-section ul {
    font-size: 1.3em;
    margin-left: 20%;
    text-decoration: none;
}

.links li {
    padding-bottom: 5%;
    list-style-type: none;
}

.links li a {
    text-decoration: none;
    color: var(--color-text);
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    color: #129048;
}

.logo-text {
    max-width: 40%;
    margin: 3% 0% 0% 15%;
}

.fa:hover {
    opacity: 0.5;
    transition: all 0.6s ease 0s;
}

.hermes {
    max-width: 30%;
    margin-left: 11vw;
    display: block;
    padding-top: 2vh;
}

.facebook {
    max-width: 30%;
    margin-left: 11vw;
    display: block;
    padding-top: 2vh;
}

.gruplac {
    max-width: 30%;
    margin-left: 11vw;
    display: block;
    padding-top: 2vh;
}

footer .footer-bottom {
    background-color: var(--color-bg-footer-2);
    color: #ffffff;
    height: 5vh;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding: 10px 0px 0px 0px;
}

@media(max-width:1024px) {
    .footer {
        width: fit-content;
    }
    .logo-text {
        max-width: 70%;
        margin: 5% 0% 0% 15%;
    }
    .hermes, .facebook, .gruplac {
        max-width: 20vw;
        margin-left: 8vw;
        display: block;
        padding-top: 2vh;
    }
    .footer-bottom {
        width: 100%;
    }
}

/* //Footer CSS */
